:root {
    /* CSS HEX */
    --light-blue: #9BE4FF;
    --white: #F5FFFC;
    --black: #364954 ;
    --green:  #005F5F;
    --dark-blue: #23395d;
    --blue: #006389;
    --pirple: #494D79;
    --light-green:#15695b;
}
